* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v80_258 {
  width: 414px;
  height: 896px;
  background: rgba(255,53,33,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v80_260 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 36px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_261 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 32px;
  overflow: hidden;
}
.v80_262 {
  width: 6px;
  height: 12px;
  background: url("../images/v80_262.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0,0,0,1);
}
.v80_279 {
  width: 80px;
  background: url("../images/v80_279.png");
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 176px;
  border: 3px solid rgba(0,0,0,1);
}
.v80_286 {
  width: 283px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 65px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_277 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 313px;
  left: 149px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_287 {
  width: 283px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 65px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_288 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 444px;
  left: 142px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_289 {
  width: 283px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 575px;
  left: 75px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_284 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 170px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_280 {
  width: 327px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 127px;
  left: 31px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_285 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 772px;
  left: 133px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
