* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #586e75;
}
.implementation-container {
  background-color: #586e75;
  padding: 10px;
  padding-top: 20px;
}
.v80_109 {
  width: 414px;
  height: 896px;
  background: rgba(255, 53, 33, 1);
  opacity: 1;
  position: relative;
  margin: auto;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v80_110 {
  width: 283px;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_118 {
  width: 361px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 15px;
  left: 36px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_125 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 32px;
  overflow: hidden;
}
.v80_126 {
  width: 6px;
  height: 12px;
  background: url("../images/v80_126.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0, 0, 0, 1);
}
.v80_128 {
  width: 283px;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_131 {
  width: 283px;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 39px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_133 {
  width: 283px;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 564px;
  left: 44px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_135 {
  width: 283px;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 39px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_115 {
  width: 326px;
  height: 64px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 802px;
  left: 47px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v80_124 {
  width: 307px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 810px;
  left: 53px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v80_122 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 127px;
  left: 36px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v80_127 {
  width: 166px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 243px;
  left: 32px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_130 {
  width: 162px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 356px;
  left: 34px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_132 {
  width: 267px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 495px;
  left: 21px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v80_134 {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 640px;
  left: 22px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
