* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #586e75;
}
.implementation-container {
  background-color: #586e75;
  padding: 10px;
  padding-top: 20px;
}
.v22_2 {
  width: 414px;
  height: 896px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v22_3 {
  width: 414px;
  height: 79px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_4 {
  width: 124px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 40px;
  left: 148px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v22_6 {
  width: 71px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 269px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v22_7 {
  width: 168px;
  color: rgba(11, 0, 0, 1);
  position: absolute;
  top: 313px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v31_13 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 344px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v31_18 {
  width: 75px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 531px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v22_8 {
  width: 109px;
  height: 48px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v30_4 {
  width: 74px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v31_9 {
  width: 108px;
  height: 48px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 134px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v31_10 {
  width: 73px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v31_11 {
  width: 109px;
  height: 48px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 254px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v31_12 {
  width: 73px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v30_7 {
  width: 314px;
  height: 70px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v30_8 {
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 809px;
  left: 154px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v22_10 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 32px;
  overflow: hidden;
}
.v22_11 {
  width: 6px;
  height: 12px;
  background: url("../images/v22_11.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0, 0, 0, 1);
}
.v34_2 {
  width: 390px;
  height: 48px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 12px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v34_4 {
  width: 111px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 191px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.button-add {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 367px;
  border-radius: 50%;
}
.button-add_text {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 317px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_50 {
  width: 168px;
  color: rgba(11, 0, 0, 1);
  position: absolute;
  top: 575px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_51 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 606px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_52 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 367px;
  border-radius: 50%;
}
.v34_53 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 581px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_63 {
  width: 168px;
  color: rgba(11, 0, 0, 1);
  position: absolute;
  top: 642px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_64 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 673px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_65 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 367px;
  border-radius: 50%;
}
.v34_66 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 648px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_46 {
  width: 168px;
  color: rgba(11, 0, 0, 1);
  position: absolute;
  top: 443px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_47 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 474px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_48 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 367px;
  border-radius: 50%;
}
.v34_49 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 447px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_42 {
  width: 198px;
  color: rgba(11, 0, 0, 1);
  position: absolute;
  top: 376px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_43 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 407px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_44 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 367px;
  border-radius: 50%;
}
.v34_45 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 380px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v68_2 {
  width: 18px;
  height: 18px;
  background: url("../images/v68_2.png");
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 32px;
  border: 2px solid rgba(0, 0, 0, 1);
}
