* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v12_10 {
  width: 414px;
  height: 896px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v12_11 {
  width: 414px;
  height: 79px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_12 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 174px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_13 {
  width: 102px;
  color: rgba(246,246,249,1);
  position: absolute;
  top: 810px;
  left: 156px;
  font-family: Inter;
  font-weight: Thin;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v12_14 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 26px;
  overflow: hidden;
}
.v12_15 {
  width: 6px;
  height: 12px;
  background: url("../images/v12_15.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0,0,0,1);
}
.v12_17 {
  width: 260px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 514px;
  left: 78px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v12_18 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 607px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_19 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_20 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_21 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 241px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_22 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 321px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_23 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 610px;
  left: 321px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_24 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 321px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_25 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 607px;
  left: 241px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_26 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 241px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_27 {
  width: 416px;
  height: 395px;
  background: rgba(255,70,10,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 501px;
  left: 2px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v12_28 {
  width: 305px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 109px;
  font-family: Inter;
  font-weight: Semi Bold;
  opacity: 1;
  text-align: center;
}
.v12_31 {
  width: 151px;
  height: 167px;
  background: url("../images/v12_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 0px;
  border-top-left-radius: 133px;
  border-top-right-radius: 133px;
  border-bottom-left-radius: 133px;
  border-bottom-right-radius: 133px;
  overflow: hidden;
}
