* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #586e75;
}
.implementation-container {
  background-color: #586e75;
  padding: 10px;
  padding-top: 20px;
}
.v34_71 {
  width: 414px;
  height: 896px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.overlay {
  width: 414px;
  height: 501px;
  position: absolute;
  opacity: 0.5;
  background: #000;
}
.v34_72 {
  width: 414px;
  height: 79px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_75 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 26px;
  overflow: hidden;
}
.v34_76 {
  width: 6px;
  height: 12px;
  background: url("../images/v34_76.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.v34_88 {
  width: 414px;
  height: 395px;
  background: rgba(255, 70, 10, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 501px;
  left: 0px;
  /* border-top-left-radius: 23px;
  border-top-right-radius: 23px; */
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v34_71 .v34_88 {
  opacity: 1;
}
.v62_18 {
  width: 393px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 658px;
  left: 11px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v34_89 {
  width: 124px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 40px;
  left: 146px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v34_90 {
  width: 108px;
  height: 48px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_91 {
  width: 73px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_92 {
  width: 109px;
  height: 48px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 134px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_93 {
  width: 73px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_94 {
  width: 108px;
  height: 48px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 254px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_95 {
  width: 72px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 133px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_96 {
  width: 390px;
  height: 48px;
  background: rgba(217, 217, 217, 0.3);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 12px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v34_97 {
  width: 109px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 191px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v62_2 {
  width: 71px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 269px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v62_3 {
  width: 157px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 313px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v62_4 {
  width: 197px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 376px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v62_5 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 347px;
  border-radius: 50%;
}
.v62_6 {
  width: 10px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 321px;
  left: 360px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v62_7 {
  width: 14px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 320px;
  left: 388px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v62_8 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 320px;
  left: 326px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v62_9 {
  width: 50px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 344px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v62_10 {
  width: 50px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 407px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v62_11 {
  width: 35px;
  height: 35px;
  background: rgba(250, 74, 12, 0.3);
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 367px;
  border-radius: 50%;
}
.v62_12 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 380px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v62_13 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 530px;
  left: 147px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v62_14 {
  width: 153px;
  height: 70px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 32px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v62_15 {
  width: 65px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 793px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v62_16 {
  width: 153px;
  height: 70px;
  background: rgba(250, 74, 12, 1);
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 229px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v62_17 {
  width: 65px;
  color: rgba(246, 246, 249, 1);
  position: absolute;
  top: 793px;
  left: 273px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v71_4 {
  width: 18px;
  height: 18px;
  background: url("../images/v71_4.png");
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 32px;
  border: 2px solid rgba(0, 0, 0, 1);
}
