* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v34_5 {
  width: 414px;
  height: 896px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v34_6 {
  width: 414px;
  height: 79px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_7 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 148px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v34_8 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 269px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v34_9 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 313px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_11 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 376px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_13 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 443px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_15 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v34_16 {
  width: 137px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_17 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_22 {
  width: 107px;
  height: 48px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_23 {
  width: 71px;
  color: rgba(246,246,249,1);
  position: absolute;
  top: 133px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_24 {
  width: 106px;
  height: 48px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 134px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_25 {
  width: 72px;
  color: rgba(246,246,249,1);
  position: absolute;
  top: 133px;
  left: 151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_26 {
  width: 107px;
  height: 48px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 254px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_27 {
  width: 71px;
  color: rgba(246,246,249,1);
  position: absolute;
  top: 133px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_28 {
  width: 314px;
  height: 70px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v34_29 {
  width: 117px;
  color: rgba(246,246,249,1);
  position: absolute;
  top: 809px;
  left: 154px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v34_30 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 32px;
  overflow: hidden;
}
.v34_31 {
  width: 6px;
  height: 12px;
  background: url("../images/v34_31.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(0,0,0,1);
}
.v34_32 {
  width: 390px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 12px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v34_33 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v34_36 {
  width: 34px;
  height: 35px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 347px;
  border-radius: 50%;
}
.v34_37 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 321px;
  left: 360px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_38 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 388px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_39 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 326px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_54 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_55 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_60 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 474px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_56 {
  width: 34px;
  height: 35px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 367px;
  border-radius: 50%;
}
.v34_57 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 380px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_58 {
  width: 34px;
  height: 35px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 367px;
  border-radius: 50%;
}
.v34_59 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 447px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_61 {
  width: 34px;
  height: 35px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 367px;
  border-radius: 50%;
}
.v34_62 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 581px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_67 {
  width: 165px;
  color: rgba(11,0,0,1);
  position: absolute;
  top: 642px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5699999928474426;
  text-align: left;
}
.v34_68 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 673px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5699999928474426;
  text-align: center;
}
.v34_69 {
  width: 34px;
  height: 35px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 367px;
  border-radius: 50%;
}
.v34_70 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 648px;
  left: 378px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v68_3 {
  width: 18px;
  height: 18px;
  background: url("../images/v68_3.png");
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 32px;
  border: 2px solid rgba(0,0,0,1);
}
